html, body {
    height: 100%;
    width: 100%;
}


body {
    height: 100%;
    width: 100%;
    display: grid;
    grid: auto-flow min-content / repeat(12, 1fr);
    background-color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

footer {
    grid-column: 1 / 13;
    grid-row: 4/5;
    color: #090b5e;
}

header {
    font-size: 20px;
    font-family: cursive;
}



/* Nav */
nav {
    background-color: #2F2FA2;
    grid-column: 1 /13;
    position: fixed;
    top: 0;
    font-size: 20px;
    width: 100%;
}


nav li {
    display: inline-block;
    list-style: none;
    padding-left: 15px;
    
   
}

nav li a:hover {
    color: #F64C72;
    transform: translateX(-5px);
    font-size: 22px;
}

nav li a{
    text-decoration: none;
    color: #fff;
}
main {
    grid-column: 1 / 13;
    grid-row: 3 / 4;
    display: grid;
    grid: auto-flow min-content / repeat(12, 1fr);
}

/* Home Section */
.home-section {
    background-color: #2F2FA2;
    grid-column: 1 / 13;
    padding-top: 8rem;
    padding-bottom: 8rem;
}

.content-home {
    justify-content: center;
    align-items: center;
    text-align: center;
}

.content-home h2 {
    font-size: 2.8rem;
    font-weight: 600;
    color: #fff;
    line-height: 40px;
    margin-top: 10rem;
}

p.text {
    font-size: 1.8rem;
    font-weight: 600;
    color:  #F64C72;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
} 

.profile-icons {
    margin-top: 5px;
}


.profile-icons a {
    font-size: 1.4rem;
    margin: 5px;
    color: #fff;
    text-decoration: none;
    transition: all .3s
}

.profile-icons a:hover {
    color: #F64C72;
    font-size: 1.6rem;
    transform: translateX(-5px);
}




/* About Section */

.about-section {
    grid-column: 1 / 13;
    margin-top: 5rem;
}


.content-header {
    padding: 1rem 0;
    margin-bottom: 1rem;
}


.content-header h2 {
    font-size: 2rem;
    line-height: .5;
    color: #F64C72;
    z-index: 1;
}

.content-about .content-header h2 {
    color: #ec0d3d;
}

.content-header h2 span {
    color: #242582;
}

.content-details {
    padding: 1rem 0;
}

.content-about .content-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 70%;
    margin: 0 auto;
    text-align: center;
}

.content-about .content-details img {
    width: 12rem;
    height: 12rem;
    border-radius: 42% 58% 25% / 46% 58% 42% 54%;
    border: 2px solid #eee;
    margin-bottom: 1rem;
}

.content-about .content-details p {
    color: black;
    font-weight: 300;
}

.content-about .content-details p span.text {
    font-size: 1.8rem;
    display: block;
}

.content-about .content-details p span.name {
    color: #090b5e;
    font-size: 2.5rem;
    font-weight: 700;
}





.resume-section {
    grid-column: 1 / 13;
}



div.portfolio,
div.blog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    row-gap: 2rem;
    column-gap: 1rem;
}

.resume .title,
.my-skills .title {
    font-size: 1.2rem;
    font-weight: 300;
    line-height: 1.5;
    color: black;
}

div.details {
    background-color: none;
}

.dot {
    font-size: 25px;
}


.content-details .title {
    font-size: 1.5rem; 
    display: inline-block;
    color: #ec0d3d;;
    padding: 1px;
}
.resume p.experience-title {
    font-size: 1rem;
    color: black;
}

p.education-title {
    font-size: 1.2rem;
    color: black;
}

.portfolio-item p.portfolio-title,
.blog-post .blog-title {
    font-size: 1.3rem;
    font-weight: 400;
    color: black;
}



.resume .year-desc,
.portfolio-item p.portfolio-desc,
.blog-post .blog-desc {
    font-size: 1rem;
}

.content-line {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right,#ec0d3d, #090b5e);
    margin-top: 2rem;
}

/* Skill section */

.skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    row-gap: 2rem;
    column-gap: 1rem;
}


.skill {
    padding: 1rem 0;
    background-color: rgba(0, 0, 0, .1);
    text-align: center;
    transform: translateY(0);
    transition: all .3s;
}

.skills-icon {
    font-size: 3.5rem;
    color: #ec0d3d;
}

.skill:hover {
    transform: translateY(-5px);
    background-color: rgba(0, 0, 0, .2);
}

.skill p {
    font-size: 1rem;
    font-weight: 500;
    color: black;
}





.portfolio-section {
    grid-column: 1 / 13;
}


.portfolio,
.blog {
    text-align: center;
    padding: 1rem 0;
}

.portfolio-item,
.blog-post {
    background-color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    transition: all .3s;
}


.hero-details {
    background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1)), url("https://images.pexels.com/photos/3712574/pexels-photo-3712574.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    height: 90vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-left: 2rem;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: red;
    font-size: 2.5rem;
    font-weight: 900;
    
}

.portfolio-item img,
.blog-post img {
    width: 100%;
    border-radius: 3px;
    margin-bottom: 1rem;
}

.portfolio-item a,
.blog-post a {
    display: inline-block;
    font-size: 1rem;
    font-weight: 600;
    text-decoration: none;
    color: #F64C72;
    padding: 1rem;
    margin-top: 1rem;
    border: 1px solid #ec0d3d;
    transition: all .3s;
}

.portfolio-item a:hover,
.blog-post a:hover {
    background-color: #F64C72;
    color: white;
    border-radius: 3px;
}

.portfolio-item:hover .portfolio-title,
.blog-post:hover p.blog-title {
    padding: 5px 0;
    border-radius: 3px;
    cursor: pointer;
}

.portfolio-item:hover {
    transform: translateY(-15px);
}





.blog-section {
    grid-column: 1 / 13;
}

.blog-post:hover {
    transform: translateY(-15px);
}

.contact-section {
    grid-column: 1 / 13;
}



.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.container .contact-info {
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contact-info .box {
    position: relative;
    display: flex;
}

.container .contact-info .box .icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 25px;
    margin-left: 3rem;
}

.container .contact-info .box .text {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 16px;
    font-weight: 300;
}

.container .contact-info .box .text h3 {
    font-weight: 500;
    color: #090b5e;
}


.contact-form {
    width: 45%;
    padding: 40px;
    background: #ff9db2;
}

.contact-form h2 {
    font-size: 30px;
    color: #090b5e;
    font-weight: 500;
}


.contact-form .input-box {
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contact-form .input-box input, 
.contact-form .input-box textarea {
    width: 100%;
    padding:  5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
}
.contact-form .input-box span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contact-form .input-box input:focus ~ span,
.contact-form .input-box input:valid ~ span,
.contact-form .input-box textarea:focus ~ span,
.contact-form .input-box textarea:focus ~ span {
    color: red;
    font-size: 12px;
    transform: translateY(-20px);
}

.contact-form .input-box input[type="submit"] {
    width: 90px;
    background-color: #090b5e;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}



footer a {
    text-decoration: none;
    padding: 3px;
    color: #090b5e;
}



footer {
    text-align: center;
    justify-content: center;
    align-content: center;
}


@media  screen and (max-width: 850px) {
    nav {
        background-color: #2F2FA2;
        grid-column: 3 /12;
        grid-row: 2/3;
    }
}

@media  screen and (max-width: 600px) {
    nav {
        background-color: #2F2FA2;
        grid-column: 1 /13;
        grid-row: 1/3;
    }

    nav li {
        font-size: 18px;
    }

    .container {
        width: 100%;
        display: block;
        align-items: center;
        justify-content: center;
    
    }

    .contact-form {
        width:60%;
        padding: 40px;
        background: #ff9db2;
    }
    
}